@font-face {
  font-family: 'Muli-Regular';
  src: url('../fonts/muli/Muli-Regular.ttf');
}
@font-face {
  font-family: 'Muli-SemiBold';
  src: url('../fonts/muli/Muli-SemiBold.ttf');
}
@font-face {
  font-family: 'Muli-Bold';
  src: url('../fonts/muli/Muli-Bold.ttf');
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Muli-Regular';
  color: #666;
  font-size: 13px;
  margin: 0;
}

input,
textarea,
select,
button {
  font-family: 'Muli-Regular';
  color: #333;
  font-size: 13px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}
.bp3-input-group .bp3-input {
  width: 250% !important;
}
img {
  max-width: 100%;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: none !important;
}

.wrapper {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  background-image: url('../../images/backgroung1.png');
}

.inner {
  min-width: 850px;
  max-width: 900px;
  margin: auto;
  padding-top: 35px;
  padding-bottom: 48px;
  background: url('../../images/backgroung2.png');
}
.inner h3 {
  text-transform: uppercase;
  font-size: 22px;
  font-family: 'Muli-Bold';
  text-align: center;
  margin-bottom: 32px;
  color: #333;
  letter-spacing: 2px;
  /* margin-top: -34px; */
}
.check {
  margin-top: 5%;
}
.form {
  width: 50%;
  padding-left: 45px;
  margin-bottom: -14px;
}

.form-group {
  display: flex;
}
.form-group .form-wrapper {
  width: 50%;
}
.form-group .form-wrapper:first-child {
  margin-right: 20px;
}

.form-wrapper {
  margin-bottom: 17px;
}
.form-wrapper label {
  margin-bottom: 9px;
  display: block;
}
.bp3-icon {
  position: absolute !important;

  margin-left: 15%;
  margin-top: 1%;
}
.form-control {
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  font-family: 'Muli-Bold';
  background: none;
}
.form-control:focus {
  border: 1px solid #ae3c33;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  padding-left: 20px;
}
select option[value=''][disabled] {
  display: none;
}

button {
  border: none;
  width: 152px;
  height: 40px;
  margin: auto;
  margin-top: 29px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #ae3c33;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Muli-SemiBold';
  border-radius: 20px;
  overflow: hidden;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
button:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #74231e;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
button:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.checkbox {
  position: relative;
}
.checkbox label {
  padding-left: 22px;
  cursor: pointer;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 12px;
  width: 13px;
  border-radius: 2px;
  background-color: #ebebeb;
  border: 1px solid #ccc;
  font-family: Material-Design-Iconic-Font;
  color: #000;
  font-size: 10px;
  font-weight: bolder;
}
.ffff {
  width: 139% !important;
}
.checkmark:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  content: '\f26b';
}
.bp3-input-group .bp3-input {
  width: 250%;
}
.dialog {
  min-width: 50%;
  max-width: 71%;
  font-size: 106%;
  margin: auto !important;
  padding-top: 24px;
  padding-bottom: 20px !important;
  background: url('../../images/backgroung3.png') !important;
}
.logo {
  position: absolute;
  top: 10%;
  left: 2%;
}
.bp3-button.bp3-intent-warning {
  max-width: 34% !important;
}
@media (max-width: 1150px) {
  .dialog {
    min-width: 43%;
    max-width: 93%;
    font-size: 91%;
    font-family: cursive;
    margin: auto !important;
    padding-top: 24px;
    padding-bottom: 20px !important;
    background: url('../../images/backgroung3.png') !important;
  }
  .inner h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Muli-Bold';
    text-align: center;
    margin-bottom: 32px;
    color: #333;
    letter-spacing: 2px;
    margin-top: 10%;
  }
}
@media (max-width: 991px) {
  .inner {
    min-width: 768px;
  }
  .dialog {
    min-width: 43%;
    max-width: 93%;
    font-size: 91%;
    font-family: cursive;
    margin: auto !important;
    padding-top: 24px;
    padding-bottom: 20px !important;
    background: url('../../images/backgroung3.png') !important;
  }
  .inner h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Muli-Bold';
    text-align: center;
    margin-bottom: 32px;
    color: #333;
    letter-spacing: 2px;
    margin-top: 10%;
  }
  .logo {
    position: absolute;
    top: 5%;
    left: 5%;
  }
  .bp3-icon {
    position: absolute !important;
    margin-left: 22% !important;
    margin-top: 1.5% !important;
  }
}
@media (max-width: 767px) {
  .inner {
    min-width: auto;
    background: none;
    padding-top: 0;
    padding-bottom: 0;
  }
  .ffff {
    width: 133% !important;
  }
  .form {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .logo {
    position: absolute;
    top: 5%;
    left: 39%;
  }
  .dialog {
    min-width: 43%;
    max-width: 93%;
    font-size: 91%;
    font-family: cursive;
    margin: auto !important;
    padding-top: 24px;
    padding-bottom: 20px !important;
    background: url('../../images/backgroung3.png') !important;
  }
  .inner h3 {
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Muli-Bold';
    text-align: center;
    margin-bottom: 32px;
    color: #333;
    letter-spacing: 2px;
    margin-top: 10%;
  }
  .bp3-icon {
    position: absolute !important;

    margin-left: 50% !important;
    margin-top: 1.5% !important;
  }
}
/* @media (max-width: 763px) {
  .inner {
    min-width: auto;
    background: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  .form {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .logo {
    position: absolute;
    top: 5%;
    left: 39%;
  }
  .dialog {
    min-width: 43%;
    max-width: 93%;
    font-size: 91%;
    font-family: cursive;
    margin: auto !important;
    padding-top: 24px;
    padding-bottom: 20px !important;
    background: url('../../images/backgroung3.png') !important;
  }
  .inner h3 {
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Muli-Bold';
    text-align: center;
    margin-bottom: 32px;
    color: #333;
    letter-spacing: 2px;
    margin-top: 20%;
  }
} */
@media (max-width: 640px) {
  .inner {
    min-width: auto;
    background: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  .form {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .logo {
    position: absolute;
    top: 5%;
    left: 39%;
  }
  .dialog {
    min-width: 43%;
    max-width: 93%;
    font-size: 91%;
    font-family: cursive;
    margin: auto !important;
    padding-top: 24px;
    padding-bottom: 20px !important;
    background: url('../../images/backgroung3.png') !important;
  }
  .inner h3 {
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Muli-Bold';
    text-align: center;
    margin-bottom: 32px;
    color: #333;
    letter-spacing: 2px;
    margin-top: 20%;
  }
}
@media (max-width: 639px) {
  .bp3-icon {
    position: absolute !important;
    margin-left: -5% !important;
    margin-top: 2% !important;
  }
}
@media (max-width: 540px) {
  .check .text-fiel {
    padding-top: 0%;
  }
  .inner h3 {
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Muli-Bold';
    text-align: center;
    margin-bottom: 32px;
    color: #333;
    letter-spacing: 2px;
    margin-top: 20%;
  }
  .dialog {
    min-width: 43%;
    max-width: 93%;
    font-size: 78%;
    font-family: cursive;
    margin: auto !important;
    padding-top: 24px;
    padding-bottom: 20px !important;
    background: url('../../images/backgroung3.png') !important;
  }
  .logo {
    position: absolute;
    top: 5%;
    left: 35%;
  }
}
@media (max-width: 414px) {
  .check .text-fiel {
    padding-top: 18%;
  }
  .inner h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Muli-Bold';
    text-align: center;
    margin-bottom: 15px;
    color: #333;
    letter-spacing: 2px;
    margin-top: 71px;
  }
  .dialog {
    min-width: 43%;
    max-width: 93%;
    font-size: 78%;
    font-family: cursive;
    margin: auto !important;
    padding-top: 24px;
    padding-bottom: 20px !important;
    background: url('../../images/backgroung3.png') !important;
  }
  .logo {
    position: absolute;
    top: 2%;
    left: 30%;
  }
  .bp3-icon {
    position: absolute !important;
    margin-left: -9% !important;
    margin-top: 2.5% !important;
  }
}
@media (max-width: 320px) {
  .inner h3 {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Muli-Bold';
    text-align: center;
    margin-bottom: 15px;
    color: #333;
    letter-spacing: 2px;
    margin-top: 71px;
  }
  .dialog {
    min-width: 50%;
    max-width: 71%;
    margin: auto !important;
    padding-top: 24px;
    padding-bottom: 20px !important;
    background: url('../../images/backgroung3.png') !important;
  }
  .logo {
    position: absolute;
    top: 2%;
    left: 25%;
  }
  .bp3-icon {
    position: absolute !important;
    margin-left: -9% !important;
    margin-top: 3.5% !important;
  }
}
@media (max-width: 280px) {
  .check .text-fiel {
    padding-top: 18%;
  }
  .bp3-icon {
    position: absolute !important;
    margin-left: -9% !important;
    margin-top: 3.5% !important;
  }
}

.form-full {
  width: 100%;
}
.ui.icon.input > input {
  padding-right: 56% !important;
}
.form-text {
  color: #3c9666;
}
.bp3-tooltip .bp3-popover-content {
  padding-top: 0px;
}
.MuiInput-underline:before {
  border-bottom: none !important;
}
.MuiInput-underline:after {
  border-bottom: none !important;
}
.MuiInputBase-input {
  padding: 10px 1px 7px !important;
}
.form_calender {
  border: 1px solid #ccc;
  display: block;
  width: 55%;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  font-family: 'Muli-Bold';
  background: none;
}
.form_select {
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  font-family: 'Muli-Bold';
  background: none;
}
button:before {
  background: none;
}

.text-young {
  color: #447a5d;
}
.my-2 {
  margin-top: 8% !important;
  margin-left: 35% !important;
}
.dialog h3 {
  text-align: center !important;
}
.MuiCheckbox-colorSecondary.Mui-checked {
  color: #749b84 !important;
}
.hidden {
  display: none !important;
}
.MuiTableCell-paddingCheckbox {
  width: 48px;
  padding: 0 0 0 19px !important;
}

.MuiTableCell-paddingCheckbox {
  padding: 0 7px 0px 7px !important;
}
.hr {
  margin: -5px;
  text-align: center;
}
.pickerDate span.bp3-popover-target {
  width: 80%;
}
.bp3-html-select.bp3-minimal select,
.bp3-select.bp3-minimal select {
  background: #ffffff !important;
}
.bp3-html-select.bp3-minimal select:hover,
.bp3-select.bp3-minimal select:hover {
  background: #e9e9e9 !important;
}
/* @media only screen and (min-width: 639px) {
  .pickerDate span.bp3-popover-target {
    width: 100%;
  }
  .bp3-input-group .bp3-input {
    width: 250%;
  }
} */
@media only screen and (max-width: 639px) {
  .pickerDate span.bp3-popover-target {
    width: 100%;
  }
  .bp3-input-group .bp3-input {
    width: 100% !important;
  }
}
.bp3-datepicker-timepicker-wrapper {
  display: none !important;
}
.bp3-input-group .bp3-input {
  border-radius: 101px;
  height: 40px;
  font-family: 'Muli-Bold';
  padding: 0 20px;
}
